<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Casa de Electricidad</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1>La Casa de Electricidad</h1>
</header>
<div class="image-container">
    <img class="responsive-image" src="/img/fondo.png" alt="Imagen ajustada">
</div>

<div class="navbar">
    <a href="#">Registrarse</a>
    <a href="#">Iniciar sesión</a>
</div>
<div class="container">
    <h2>Bienvenido a La Casa de Electricidad</h2>
    <p>Tu tienda confiable de productos eléctricos.</p>
    <div class="login-form">
        <input type="text" name="email" placeholder="EMAIL">
        <input type="password" name="password" placeholder="CONTRASEÑA">
        <button onclick="window.location.href='/inicio.html'">Iniciar sesión</button>

    </div>
</div>

<!--uso fragmento para el footer-->
<footer th:replace="~{/fragments/footer :: footer}"> </footer>
</body>
</html>
